<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529168205446-qvs3pfjjg6rn1i45if4n2usk2fce6bqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529168205446-qvs3pfjjg6rn1i45if4n2usk2fce6bqh</string>
	<key>API_KEY</key>
	<string>AIzaSyCJAfD_B8x8MugUMhcbEHDBmgnmY6NvTYE</string>
	<key>GCM_SENDER_ID</key>
	<string>529168205446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyFirebase</string>
	<key>PROJECT_ID</key>
	<string>myfirbase-9ba26</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirbase-9ba26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529168205446:ios:4b22434d555d3667637307</string>
	<key>DATABASE_URL</key>
	<string>https://myfirbase-9ba26.firebaseio.com</string>
</dict>
</plist>